body, html {
    height: 100%;
    margin: 0;
    font-family: 'Pacifico', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ede7f6;
    color: #FEA116;
    text-align: center;
}

/* Add a media query for smaller screens (e.g., smartphones) */
@media only screen and (max-width: 768px) {
    .start {
        width: 90%; /* Adjust width for smaller screens */
    }

    form {
        width: 90%; /* Adjust width for smaller screens */
    }

    .content {
        width: 90%; /* Adjust width for smaller screens */
    }

    .option-list button {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .content h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    #question-text {
        font-size: 20px; /* Adjust font size for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .image_part {
        flex-basis: 100%; /* Full width for images on smaller screens */
        padding-right: 0; /* Remove right padding for smaller screens */
    }

    .buttons button {
        width: 100%; /* Full width for buttons on smaller screens */
        margin: 0 0 20px; /* Adjust margin for smaller screens */
    }
}

/* Rest of your existing CSS */
